/* <!-- Navigation Start here --> */
*{
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

}
/* .wrapper{
  width: 100%;
} */

#cols{
  height: 45px;
  background-color: #0E1E2A;
  border-right: 1px solid white
}
#cols1{
  height: 45px;
  background-color: #8D72E1;
  border: 0px;
  margin: 0;
}
#cols2{
  height: 70px;
  background-color: #8D72E1;
}
#cols3{
  height: 70px;
}
#button{
background-color:#8D72E1;
}
#lon{
color: #8D72E1;
}
.ok{
  z-index: -1;
}
/* #bt{
  background-color: #104CBA;
} */
.nav-link{
  width: 150px;
  /* border: 1px solid black; */
}
#nav{
  height: 70px;
}
#about{
  background-color: #0E1E2B;
  z-index: -1;
  
}
/* .counter_area{
height: 300px;
background-color: rgb(219, 76, 76);
margin: 0;
} */
.count_text{
color: white;
font-size: 80px;
font-weight: 700;
}
.count_text>*{
color: white;
font-size: 80px;
}
.count_text_banner{
color: white;
font-size: 25px;
font-weight: 600;
}
.ban{
font-weight: 800;
justify-content: center;
}
#contain{
position: relative;
width: 100%;
max-width: 400%;
z-index: 1;
}
/* <!-- Navigation Ends here --> */

/* <!-- Carousel Start here --> */
body {
	margin: 0;
	padding: 0;
}
#wrapper {
	position: relative;
	height: 100vh;
}
#slider-area {
	position: absolute;
	height: 100vh;
	width: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}
#slider-area::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
}
#slider-area .owl-item div {
	height: 100vh;
	width: 100%;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}
#wrapper #nav-area {
	position: absolute;
	top: 5%;
	left: 50%;
	text-align: center;
	z-index: 1;
}
.nav-area {
	text-align: center;
	padding: 26px 0;
}
.nav a {
	font-family: montserrat;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	margin: 0 15px;
	padding: 10px;
	transition: all .6s ease;
}
.nav a:hover {
	background: coral;
}
.slider-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.slider-text h2 {
	font-family: montserrat;
	font-size: 55px;
	margin: 0;
	color: #fff;
	text-transform: uppercase;
}
.slider-text h2 span {
	color: coral;
}
.slider-text p {
	font-size: 18px;
	color: #fff;
}
.slider-text a {
	text-decoration: none;
	background: coral;
	color: #fff;
	display: inline-block;
	padding: 12px 45px;
	margin: 15px;
	text-transform: uppercase;
	font-family: montserrat;
	font-weight: 500;
	border: 2px solid #fff;
}
.slider-text a.btn {
	background-color: transparent;
}
/* <!-- Carousel Ends here  --> */

/* <!-- Middle Body Start here  --> */
.how-section1{
  margin-top:-15%;
  padding: 10%;
}
.how-section1 h1{
  color: coral;
  font-weight: bold;
  font-size: 60px;
}
.how-section1 .subheading{
  color: #3931af;
  font-size: 20px;
}
.how-section1 .row
{
  margin-top: 10%;
}
.how-img 
{
  text-align: center;
}
.how-img img{
  width: 55%;
  height: 100%;
}
/* <!-- Middle Body End here  --> */

/* <!-- Client Start here  --> */
/* section {
	display: grid;
	place-items: center;
	height: 100vh;
    background-color:  #0E1E2A ;
	min-height: 350px;
	word-wrap: normal;
}
.section-header{
    position: relative;
    padding-bottom: 10px;
    text-align: center;
    font-weight: 900;
    padding-bottom: 25px;
    color: coral;
    padding-top: 10px;
}
.section-header:after{
    content: '';
    height: 3px;
    width: 200px;
    position: absolute;
    bottom: 0;
    left: calc(50% - 100px);
    background: #fff;
}
.section-header span {
	display: block;
	font-size: 15px;
	font-weight: 300;
}
.testimonials{
    max-width: 1000px;
    padding: 0 15px 50px;
    margin: 0 auto 80px auto;
	
}
.single-item{
    background: #fff;
    color: #111;
    padding: 15px;
    margin: 50px 15px;
}
.profile{
    margin-bottom: 30px;
    text-align: center;    
}
.img-area {
	margin: 0 15px 15px 15px;
}
.img-area img {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border: 7px solid blueviolet;
}
.content{
    font-size: 18px;
}
.content p {
	text-align: justify;
}
.content p span {
	font-size: 48px;
	margin-right: 20px;
    color: blueviolet;
}
.socials i {
	margin-right: 25px;
}
.bio h4 {
	font-family: 'Berkshire Swash', cursive;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
	background-color: blueviolet;
} */
#client{
	background-color:  #0E1E2A ;
}

.section-header{
    position: relative;
    padding-bottom: 10px;
    text-align: center;
    font-weight: 900;
    padding-bottom: 25px;
    color: coral;
    padding-top: 10px;
}
.section-header:after{
    content: '';
    height: 3px;
    width: 200px;
    position: absolute;
    bottom: 0;
    left: calc(50% - 100px);
    background: #fff;
}
.section-header span {
	display: block;
	font-size: 15px;
	font-weight: 300;
}
#testimonial_area {
	padding: 1opx 0;
	
}
.box-area {
	padding: 30px;
	position: relative;
	display: block;
	background: #fff;
	color: #000;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	margin: 40px 0;
}
.box-area h5 {
	font-size: 16px;
	font-weight: 700;
	color: #0a69ed;
	margin-top: 30px;
	margin-bottom: 5px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.box-area span {
	color: #262626;
	display: block;
	font-size: 13px;
	margin: 0 0 10px;
	font-weight: 400;
}
.box-area .content {
	color: #262626;
}
.box-area .img-area {
	width: 90px;
	height: 90px;
	position: absolute;
	top: -40px;
	left: 0;
	bottom: 0;
	margin: 0 auto;
	right: 0;
	z-index: 1;
	border: 5px solid #fff;
	border-radius: 50%;
	box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}
.box-area .img-area img {
	width: 100%;
	height: auto;
	border-radius: 50%;
}
.socials {
	margin-top: 30px;
}
.socials i {
	margin: 0 10px;
	color: #0a69ed;
	font-size: 18px;
}
#testimonial_area .owl-nav {
	position: absolute;
	top: 50%;
	width: 100%;
}
#testimonial_area .owl-prev, #testimonial_area .owl-next {
	width: 40px;
	height: 40px;
	line-height: 40px;
	color: #0a69ed;
	border-radius: 50%;
	text-align: center;
	background: #fff;
	position: absolute;
}
#testimonial_area .owl-prev {
	left: -60px;
	top: -30px;
}
#testimonial_area .owl-next {
	right: -60px;
	top: -30px;
}
@media only screen and (max-width: 991px) {
	.owl-nav {
		display: none;
	}
}
@media only screen and (max-width: 767px) {
	.box-area {
		text-align: center;
	}
	.owl-nav {
		display: none;
	}
}

/* <!-- Client Ends here  --> */
/* <!-- Footer Start here --> */
#footer{
  background-color: #282A3A;
  clear: both;
}

/* <!-- Footer End here --> */


